body {
background:url('img/bkg.png');
color:#111111;
margin:auto;
padding:0;
} 

#header {
background:url('img/bkg_head.png');
height:130px;
padding:5px 0 0 15px;
}

#index_txt
{
 text-align:center;
 padding:50px 0;
}

#bouton {
width:300px;
margin:25px auto;
}

a img, a:active img,a:focus img, a:visited img {
 border:0; 
}